body {
    font-size: 1.5rem;
    padding: .8rem;
    background-repeat: no-repeat;
    /*background-attachment: fixed; si queres que el fondo quede fijo descomenta esta propiedad*/
    background-position: center ;
    background-size: cover;
    background-image: url(./IMG/huellitas.jpg)
}



.subtitulos {
    font-size: 40px;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}








.texto {
    
    padding-left: 15px;
    color: black;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.titulo{
    
    color: aliceblue;
}





header{
    background-color: rgb(192, 149, 174);
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    width: 10px;
    align-items: center;
    margin-right: 10px;
}

.contenedor{

    
    display: flex;
    padding-left: 10px;

}

.nav{
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    font-size: 25px;
    margin: 15px;
    padding: 5px;

    
    
}

.nav:hover{
    transition:0.3s;
    display: inline-block;
    text-decoration: underline; /* para que te aparesca el surrayado */
    border-radius: 15px;
}


.foto {
    
    border-radius: 15px;
    border-width: 10px;
    border-style: solid;
    border-color:rgb(135, 153, 255)

}

