h3 {
    color: blueviolet;
    font-size: 40px;
    familia tipográfica: 'Roboto', sans-serif;
    familia tipográfica: 'Work Sans', sans-serif;




}

h2 {
    font-size: 50px;
    color: blueviolet;
    familia tipográfica: 'Roboto', sans-serif
}

p {
    font-size: 25px;
    color: black;
    familia tipográfica: 'Poppins', sans-serif;
    familia tipográfica: 'Roboto', sans-serif;
    familia tipográfica: 'Work Sans', sans-serif;






}

.perros {
    width: 700px ;
    border-width: 10px;
    border-color: black;
    border-style: solid;





}

h1 {
    color: brown;
    familia tipográfica: 'Poppins', sans-serif;
    familia tipográfica: 'Roboto', sans-serif;
    familia tipográfica: 'Work Sans', sans-serif;

}

body {
    background-color: silver;
}

.contenedor {
    display: flex;
    justify-content: center;

}

.parrafo {
    flex-direction: column;
    justify-content: right;
    width: 500;
}

.imagenes {
display: flex;
justify-content:left;

}

.dib {
    background-color: silver;
}

